<div class="container__big-card">
  <div class="big-card__image">
    <img
      src="https://imgs.search.brave.com/6Yw_L7Jafi0G15PK58p8GuCPbnJERfQCsOamtUPBbpw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/aG9zdGluZ2VyLmNv/bS5ici90dXRvcmlh/aXMvd3AtY29udGVu/dC91cGxvYWRzL3Np/dGVzLzEyLzIwMTkv/MTEvTy1RdWUtJUMz/JUE5LUFuZ3VsYXIt/R3VpYS1wYXJhLUlu/aWNpYW50ZXMud2Vi/cA"
      alt=""
    />
  </div>
  <a href="#">
    <div class="big-card__title">
      <h1>Welcome to The New Angular Version</h1>
    </div>
    <div class="big-card__description">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
        pariatur dolore vero, tenetur totam reprehenderit fugit corporis ipsum
        aperiam repudiandae aspernatur, expedita delectus aliquid quam.
        Temporibus dolore a, praesentium in saepe, dolorem odio error quis
        exercitationem aspernatur magnam! Laborum voluptates tempore, veniam
        quaerat culpa nihil fugiat magni maxime repellendus molestiae.
      </p>
    </div>
  </a>
</div>
