/* .menu_title_container {
    color: whitesmoke;
} */

.menu_title_container > h1 {
    font-size: 12rem;
    letter-spacing: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_title_container > hr {
    margin-top: 20px;
    margin-bottom: 5px;
}