.container__menu-bar {
    padding: 20px;
}

.container__menu-bar > ul {
    display: flex;
}

.container__menu-bar ul > li {
    margin-right: 25px;
    list-style: none;
}

@media screen and (max-width: 735px) {
    .container__menu-bar ul > li {
        font-size: 3vw;
    }
}